:root {
    --l-color: #dddddd;
    --p-color0: #424242;
    --p-color1: #e2e2e2;
    --color: #000;
}

html {
}

body {
    margin: 0;
}

#main {
    width: 70%;
    margin: auto;
}
input {
    outline: none;
}
item-b {
    display: flex;
    width: 100%;
}
item-b > input[type="time"] {
    border: none;
    padding: 0;
    background-color: #0000;
}
item-b > input[type="text"] {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid var(--l-color);
    font-size: 1rem;
    padding: 0;
    margin: 0 8px;
}
item-b > input[type="text"]:focus {
    border: none;
    border-bottom: 1px solid var(--color);
}
item-b > input[type="date"] {
    border: none;
    padding: 0;
    background-color: #0000;
}
item-b > div {
    display: flex;
    align-items: center;
}

lock-b {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center;
    background-image: url(../asset/play.svg);
}

lock-b > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.lock-b-lock {
    background-image: url(../asset/pause.svg) !important;
}

progress-b {
    border-radius: 8px;
    width: 200px;
    height: 16px;
    background-color: var(--p-color1);
    overflow: hidden;
}

progress-b > div {
    height: 100%;
    border-radius: inherit;
    background-color: var(--p-color0);
}

@media (prefers-color-scheme: dark) {
}

@media (max-width: 900px) {
    #main {
        width: 100%;
    }
    item-b > input[type="text"] {
        width: auto;
        margin: 0 4px;
    }
    item-b > input[type="date"] {
        width: 16px;
    }
    progress-b {
        width: 100px;
    }
}
