:root {
    --l-color: #dddddd;
    --p-color0: #424242;
    --p-color1: #e2e2e2;
    --color: #000;
}

html {
}

body {
    margin: 0;
}

#main {
    width: 70%;
    margin: auto;
}
input {
    outline: none;
}
item-b {
    display: flex;
    width: 100%;
}
item-b > input[type="time"] {
    border: none;
    padding: 0;
}
item-b > input[type="text"] {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid var(--l-color);
    font-size: 1rem;
    padding: 0;
    margin: 0 8px;
}
item-b > input[type="text"]:focus {
    border: none;
    border-bottom: 1px solid var(--color);
}
item-b > input[type="date"] {
    border: none;
    padding: 0;
}
item-b > div {
    display: flex;
    align-items: center;
}
item-b > div > input {
    background-color: #0000;
    margin: 0;
}

progress-b {
    border-radius: 8px;
    width: 200px;
    height: 16px;
    background-color: var(--p-color1);
    overflow: hidden;
}

progress-b > div {
    height: 100%;
    border-radius: inherit;
    background-color: var(--p-color0);
}

@media (prefers-color-scheme: dark) {
}
