:root {
    --l-color: #dddddd;
    --p-color-play0: #bdbdbd;
    --p-color-play1: #424242;
    --p-color1: #e2e2e2;
    --color: #000;
    --color-w: #fff;
    --red: #ff0000;
    --shadow: 0 0 4px rgba(50, 50, 50, 0.3);
}

html {
    background-color: var(--color-w);
}

body {
    margin: 0;
}

body > button {
    width: 16px;
    height: 16px;
    background-color: var(--l-color);
    border-radius: 8px;
    margin-bottom: 16px;
    border: none;
}

#upload_file {
    display: none;
}

#main {
    width: 70%;
    margin: auto;
}
input {
    outline: none;
}
item-b {
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.4s;
    border-radius: 4px;
}
item-b:hover {
    box-shadow: var(--shadow);
}
.item_hide {
    opacity: 0.5;
    pointer-events: none;
}
item-b > button {
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: var(--l-color);
    border-radius: 8px;
    border: none;
}
item-b > #remove {
    background-color: var(--red) !important;
}
item-b > time-b > span {
    outline: none;
    font-family: monospace;
    font-size: 1rem;
}
item-b > input[type="text"] {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid var(--l-color);
    font-size: 1rem;
    padding: 0;
    margin: 0 8px;
}
item-b > input[type="text"]:focus {
    border: none;
    border-bottom: 1px solid var(--color);
}
item-b > input[type="date"] {
    border: none;
    padding: 0;
    background-color: #0000;
    font-size: 1rem;
}

progress-b {
    border-radius: 8px;
    width: 200px;
    height: 16px;
    background-color: var(--p-color1);
    overflow: hidden;
}

progress-b > div {
    height: 100%;
    border-radius: inherit;
    line-height: 100%;
    background-color: var(--p-color-play0);
}

progress-b > div > span {
    mix-blend-mode: difference;
    color: var(--color-w);
    margin-left: 4px;
    font-family: monospace;
    font-size: 1rem;
}

.pro_play > div {
    background-color: var(--p-color-play1) !important;
}

@media (prefers-color-scheme: dark) {
}

@media (max-width: 900px) {
    #main {
        width: 100%;
    }
    item-b > input[type="text"] {
        width: auto;
        margin: 0 4px;
    }
    item-b > input[type="date"] {
        width: 16px;
    }
    progress-b {
        width: 100px;
    }
}
